'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'protagonist-atom'
      'submenu': [
        {
          'label': 'Parse'
          'command': 'protagonist-atom:parse'
        }
      ]
    ]
  }
]
